a{
  color: #000;
  background: transparent;
  text-decoration: none;
  padding: 6px;
}
a:link{
  color: #000;
  background: transparent;
}

a:hover{
  color: #000;
  background-color: grey;
  border-style: solid;
  border-width: 3px;
  padding: 3px;
}

a:link{
  color: #000;
  background: transparent;
 
}

a:active{
  color: #000;
  background: transparent;
}



h1
{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 85px;
  padding: 0px 50px 0px 20px;

  overflow: hidden;
  background-color: black;
  border-color: gray;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  color: white;
  margin:0px;
}

h1 a:link{
  color: white;
  padding: 3px;
}
h1 a:hover{
  border: 0px solid black;
}


h1 div{
  color: #bbb;
  margin: 0px
  padding: 0px;

  
  font-weight: normal;
  font-size: 70px;
}

.ar_left_login
{
  display: table-cell;
  position: relative;
  border-style: none;
  border-right-style: solid;
  border-width: 1px;
  width: 600px;
  padding: 0px;
  height: 200px;
}

.ap_flash
{
  display: none;
}

.ar_left_login input
{
  width: 450px;
  margin-left: 20px;
}

.ar_right_register
{
  display: table-cell;
  text-align:  center;
  vertical-align:  middle;
  position: relative;
  font-weight: bold;
  margin-left: 420px;
  margin-top: -200px;
  font-size: 24pt;
  padding: 0px;
  width: 600px;
  height: 200px;
}

div.ar_right_register a{
  display: compact;
  margin: -200px;
  padding: 15px;
  border-style: none;
  text-decoration: none;
  height:100px;
  font-size: 42px;
}

.ar_right_register a:link
{
  color: black;
}

.ar_right_register a:hover
{
  text-decoration: underline;
}

.ar_right_register a:visited
{
  color: #000;
}

.ar_right_register a:active
{
  color: #000;
}

.ap_form
{
  width: 600px;
  margin-left: 100px;
  margin-top: -80px;
  overflow: hidden;
  background-color: black;
}

.ap_form label
{
  color: #bbb;
}

.ap_form input
{
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  height: 46px;
  font-size: 42px;
}

.ap_form input:focus
{
  border-color: black;
  border-style: solid;
}


.ap_form input[type=submit]
{
  height:50px; 
  border-width: 2px;
  border-style: solid;
  margin-top: 15px;
}

.ap_gravatar
{
  display: block;
  width: 80px;
  height: 80px;
  background-color: black;
  padding: 2px;
}

.ap_gravatar_empty
{
  display: table-cell;
  width:80px;
  height:80px;
  background-color: grey;
  font-size: 64px;
  text-align: center;
  font-weight: bold;
  color: #aaa;
}

#ap_profile_view 
{
  height: 400px;
}

#ap_menu
{
  display: block;
  font-size: 24px;
  height: 50px;
}

#ap_top_menu
{
  padding: 0px;
  position: absolute;
  top: 0;
  left: 800px;
  display: block;
  height: 50px;
  background-color: white;
  float: right;
}

#ap_top_menu a:link
{
  display: inline-block;
  padding-top: 30px;
}

.ap_project_list
{
  font-size: 18pt;
  display: block;
  border-style: dotted;
  border-color: #aaa;
  border-width: 1px;
  padding: 10px 40px;
}

.ap_project_list_item
{
  height: 50px;
}

.ap_pl_delete
{
  font-size: 18px;
  width: 60px;
  height: 40px;
  float: right;
}

.ap_project_description
{
  font-size: 18px;
  width: 800px;
}


#ap_project_add_milestone
{
  margin-left: 0px;
  margin-top: 0px;
}

.ap_add_new
{
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  float: right;
  margin: 0px 5px;
}

#ap_add_new_story
{
  background-color: red;
}

#ap_add_new_milestone
{
  float: none;
}

#ap_project_add_milestone input[type=text]
{
  width: 530px;
}
#ap_project_add_milestone input[type=submit]
{
  float: right;
  margin: 0px;
}

#ap_messages_index{
height: 400px;
padding-top: 50px;
}



.ap_updates_entry
{
  display: block;
  padding: 10px 0px;
}

#ap_milestones_list
{
  position: relative;
  display: block;
  padding: 5px;
  border: 5px solid #aaa;
}

.ap_milestone_complete
{
  position: absolute;
  left: 250px;
}

.ap_project_milestone_story
{
  display: block;
  background-color: red;
}

.ap_project_milestone
{
  display: block;
  color: gray;
}

.ap_new_story
{

  padding-bottom:50px;
}
.ap_new_story textarea{
  height: 200px;
  width: 700px;
 }
.ap_new_story input[type=submit]{
  height: 30px;
  width: 700px;
  font-size: 20px
}
