<% title @project.name %>
<%= javascript_tag "var project_id = "+@project.id.to_s+';' %>


<div class="ap_project_description">
  <button id="ap_add_new_milestone">+</button>
  <% @project.milestones.each do |m| %>
  <div class="ap_project_milestone">
    <%= m.name %> 
    <% m.stories.each do |s| %>
      <div class="ap_project_milestone_story">
        <%= s.name %>
      </div>
    <% end %>
   </div>
  <% end %>
</div>
